<div class="social">
  <span class="contacticon center">
    <a href="{{ site.baseurl }}/docs/Choudhury_Zareen_Resume.pdf"><i class="fa fa-file-text"></i></a>
    <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a>
    <a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
    <a href="https://medium.com/@zareenc"><i class="fa fa-medium"></i></a>
  </span>

  <div class="col three caption">
    {{ site.contact_note }}
  </div>
</div>
